/* Removes default margin and padding, set the font to "Inter" and apply a default text color (#222 is dark gray). */
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  color: #222;
}

/* Have a full-width container for the whole app and center the content horizontally. */
#wrapper {width: 100%; margin-top: 0px;}

/* Have a Green header bar with white and centered text inside and use flexbox for alignment (icons + text spacing). */
#header {
  background: #09c332;
  margin-top: 0px;
  padding: 15px;
}
#header h2 {
  color: #FFFFFF;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Style the clickable home icon. */
.home-icon {
  color: white;
  text-decoration: none;
  font-size: 24px;
}
.home-icon:hover {
  color: #e5e5e5;
}

#container {width: 100%; margin: auto;}
#container h3 {color: #000;}
#container #content {margin-top: 20px;}

.add-button, .btn-success {
  font-weight: bold;
  padding: 5px 10px;
  margin-bottom: 15px;
}

/* For forms have full-width inputs with padding, rounded corners, and spacing */
.crm-input {
  width: 100%;
  max-width: 100%;
  border: 1px solid #666;
  border-radius: 5px;
  padding: 6px;
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
}

/* For tables, have alternating row colors (zebra striping), Green headers with white text and Collapsed borders to avoid double lines. */
table {
  border-collapse: collapse;
  border-bottom: 1px solid gray;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  width: 100%;
}

th {
  border-bottom: 1px solid gray;
  background: #09c332;
  padding: 10px;
  color: #FFFFFF;
}

tr {
  border-top: 1px solid gray;
  text-align: center;
}

tr:nth-child(even) {background: #FFFFFF;}
tr:nth-child(odd) {background: #BBBBBB;}

/* Make the background image fully cover the element. */
.bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Push the footer to the bottom of the page if space allows. */
footer {
  margin-top: auto;
}

.page-padding {
  padding: 40px 50px;
}